<div class="info">
    <p>
        <span class="hello">中午好👏🏻，我是</span>
        <span class="status">状态: codding</span>
    </p>
    <p class="title">粽子</p>
    <p class="sub-title">
        这有关于产品、设计、开发的问题和看法，还有技术文档和你分享。
    </p>
    <p class="sub-title">
        相信你可以在这里找到对你有用的知识和教程
    </p>
    <p class="more">
        <a class>了解更多</a>
    </p>
    <div class="linked">
        <a>github</a>
        <a>email</a>
        <a>QQ</a>
        <a>微信</a>
    </div>
</div>