<div class="info">
    <p class="base-info">
        <span class="hello">中午好👏🏻，我是</span>
        <span class="status-box">
            <span class="status">✍🏻 疯狂 codding 中...</span>
        </span>
    </p>
    <p class="title">粽子</p>
    <p class="sub-title">
        这有关于产品、设计、开发的问题和看法，还有技术文档和你分享。
    </p>
    <p class="sub-title">
        相信你可以在这里找到对你有用的知识和教程
    </p>
    <p class="more">
        <a class>了解更多</a>
    </p>
    <div class="linked">
        <a href="https://github.com/tc-rice-pudding?tab=repositories"><i class="iconfont icon-github iconfont-size"></i></a>
        <a><i class="iconfont icon-youxiang iconfont-size"></i></a>
        <a><i class="iconfont icon-QQ-circle-fill iconfont-size"></i></a>
        <a><i class="iconfont icon-weixin iconfont-size"></i></a>
    </div>
</div>