#archive{
    min-width: 500px;
    width:80%;
    background: #fff;
    border-radius: 10px;
    padding-left: 2%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
    .archive_overview{
        font-size: 30px;
        color: #545959;
        padding-top: 40px;
    }
    .archive_time{
        background-color:#4876ee;
        border-radius: 10px;
        width:96%;
        height:60px;
        line-height: 60px;
    }
    .archive_time_title{
        color:#fff;
        font-size:20px;
        margin-left: 1%;
    }
    .archive-item{
        display: flex;
        flex-direction: row;
        height:170px;
        width:45%;
        margin: 20px;
    }
    .archive-phono{
        background: url(/weblog/images/archive.jpg) no-repeat;
        height: 150px;
        width: 200px;
        background-size: 100%;
        border-radius: 10px;
        transition: all 0.3s ease-in-out .3s
    }
    .archive-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-title{
        font-size: 25px;
        font-weight: 700;
    }
    .archive-title-part{
        margin:20px;
    }
}