.content {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    width     : 300px;
    padding   : 15px 10px 15px 0;
    box-sizing: border-box;
}

.right .list-box {
    margin-top: 10px;
    position  : sticky;
    top       : 65px;
    z-index   : 1;
}