// 中间内容
#content-outer {
  flex: 1;
  user-select: none;
}

// 底部
#bottom-outer {
  >p {
    text-align: center;
    user-select: none;
  }
}

// 工具栏
#tool-box {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px 0;
  z-index: 100;
  user-select: none;

  .tool-item {
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    background: #3B70FC;
    color: #fff;
    cursor: pointer;
  }

  .tool-item:hover {
    background: #FF7242;
    transition: all 0.1s ease-in-out .1s
  }

  .iconfont-size {
    font-size: 25px !important;
    cursor: pointer;
    background: #eee3;
    border-radius: 500px;
  }

  .iconfont-size:hover {
    background: #FF7242;
    transition: all 0.3s ease-in-out .1s;
  }
}
