<div id="menu-box">
    <div class="nav-left">
        <% if (is_post()) { %>
            <i id="open-drawer" class="iconfont logo-fontsize icon-zhankaicaidan open-drawer"></i>
        <% } %>
        <a id="logo" href="<%= url_for('/') %>">
            <div class="logo-title"><%= config.title %></div>
            <i class="iconfont logo-fontsize icon-home"></i>
        </a>
    </div>
    <div class="nav-center">
    <% Object.keys(theme.menu).forEach(key=> { %>
        <a href="<%= url_for(theme.menu[key]) %>">
        <%=key%>
        </a>
        <% }); %>
    </div>
    <div class="nav-right">
        <a><i onclick="onSearch()" class="iconfont logo-fontsize icon-sousuo1"></i></a>
        <a><i onclick="toBottom()" class="iconfont logo-fontsize icon-xiangxia5"></i></a>
    </div>
</div>

<!-- tips -->
<div id="message-box">
    <div id="message"></div>
</div>

<!-- 滚动条百分比 -->
<div id="scrollPercentage"></div>
