<div id="twikoo-box">
    <div class="twikoo-tool">
        <div>
            <i class="iconfont icon-liuyan iconfont-size"></i>
            <span>评论</span>
        </div>
        <span>匿名评论</span>
    </div>
    <div id="tcomment"></div>
</div>

<script src="https://cdn.staticfile.org/twikoo/1.6.16/twikoo.all.min.js"></script>
<script>
  twikoo.init({
    enable: true,
    visitor: true,
    el: '#tcomment',
    envId: 'twikoo-hexo-comment-1cvu39d76a61',
    region: 'ap-shanghai'
  })
</script>