<%-partial('widgets/header', {}, {cache: true})%>

<div id="category">
  <div class="cg-list-box">
    <%- cg_list(site) %>
  </div>
  <div id="category-md-content">
  <div class="cg-title">目录</div>
  </div>
</div>
<script>
  const addTableWrap = () => {
    const tableList = document.querySelectorAll("#post :not(.highlight) > table, #post > table");
    (tableList||[]).forEach(item => {
      addWrap(item, "div", { class: "table-wrap" });
    });
  };

document.addEventListener("DOMContentLoaded", function () {
  $('.cus-category-list').on( 'click', '.cus-category-list-item', function(e){
    console.log('$(e.currentTarget).next()',$(e.currentTarget))
     let  data = $(e.currentTarget)[0]
     if(!data.attributes["data-post"].value) return
     var obj = JSON.parse(data.attributes["data-post"].value)
     obj.forEach(it=>{
      let id = document.getElementById("category-md-content")
      let div = document.createElement("a")
      div.setAttribute('href', "/weblog/"+it.path);
      div.innerHTML = it.title
      id.appendChild(div);
     })
    

    console.log(id);
// id.insertAdjacentHTML("beforeed",div);
  })

  $('.cus-category-list').on( 'click', '.cus-category-list-posts-item', function(e){
    $(e.currentTarget).addClass('active');

    let parent = $(e.currentTarget).parent('.cus-category-list-posts') || $(e.currentTarget).parent('.cus-category-list-child');
    while(parent.length){
      $(parent[0]).prev().addClass('extend');

      $(parent[0]).addClass('active');
      parent = $($(parent[0]).parent('.cus-category-list-posts')[0]||$(parent[0]).parent('.cus-category-list-child')[0]);
    }
  })


  // 获取文章的路径
  let [,pathnameStr] = /\/(?:weblog)\/(?:\d{4})\/(?:\d{2})\/(?:\d{2})\/(.+)/g.exec(decodeURI(location.pathname));
  let postName=pathnameStr.split('/').filter(it=>it.length).pop();
  $(`#${postName.replaceAll(' ','-')}`).trigger('click');


  

  
});
</script>
<%-partial('widgets/paginator')%>