#twikoo-box {
  .twikoo-tool {
    margin-top: 40px;
    height: 40px;
    display: flex;

    >div {
      flex: 1;
      display: flex;
      align-items: center;

      >i {
        font-size: 35px !important;
        margin-right: 5px;
      }

      >span {
        font-size: 20px;
        font-weight: 800;
        color: #4c4948;
      }
    }

    >span {
      line-height: 40px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }

    >span:hover {
      color: #3477f6;
    }
  }
}
